async-generator
attrs
certifi
cffi
charset-normalizer
h11
idna
importlib_metadata
mypy_extensions
outcome
packaging
pycparser
PySocks
python-dotenv
requests
selenium
sniffio
sortedcontainers
trio
trio-typing
trio-websocket
types-certifi
types-urllib3
typing_extensions
urllib3
webdriver-manager
websocket-client
wsproto
zipp
